.main-button {
    -fx-background-color: #6750a4;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 100px;
    -fx-font-size: 14px;
    -fx-line-spacing: 1.5em;
    -fx-cursor: hand;
    -fx-transition-property: -fx-background-color;
    -fx-transition-duration: 0.2s;
    -fx-transition-timing-function: ease-in-out;
}

.main-button:hover {
    -fx-background-color: #6750a4;
}
