.button {
    -fx-border-radius: 7px;
    -fx-cursor: hand;
}

.text-entry {
    -fx-background-color: #E6E0E9;
}

.main-button {
    -fx-background-color: #6750a4;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-border-radius: 100px;
    -fx-font-size: 14px;
    -fx-line-spacing: 1.5em;
    -fx-transition-property: -fx-background-color;
    -fx-transition-duration: 0.2s;
    -fx-transition-timing-function: ease-in-out;
}

.main-button:hover {
    -fx-background-color: #9a8dbd;
}

.search-button {
    -fx-background-image: url("./assets/img/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}

.logout-button {
    -fx-background-image: url("./assets/img/logout.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}

.bg_login {
    -fx-background-image: url("./assets/img/bgs/bg_login.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.login_box {
    -fx-background-color: rgba(254, 247, 255, 0.80);
}